@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

:root {
    --cerulean: #007EA7;
    --orange_peel: #FF9F1C;
    --space_cadet: #151E3F;
    --baby_powder: #FDFFFC;
    --alice_blue: #F4FAFF;
    --borda1: #2b2b2b9f;
    --sombra1: #33333342;
}

html  {
    width: 100vw;
    min-width: 100%;
    max-width: min-content;
    height: 100vh;
    scroll-behavior: smooth;
}

html > body {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 60px;
    box-shadow: 0px 4px 16px var(--sombra1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: white;
    z-index: 2;
}

abbr {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, white 75%, var(--alice_blue));
}

header > h2 {
    color: var(--space_cadet);
    font-size: 3.2rem;
    width: 75%;
    text-align: center;
}

header > h3 {
    color: var(--space_cadet);
    font-size: 1.8rem;
    padding-bottom: 20px;
}

span.span {
    color: var(--orange_peel);
}

header > #contatos {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

header > #contatos > .contato {
    color: black;
    text-decoration: none;
    border: 2px solid var(--space_cadet);
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    background-color: white;
}

header > #contatos > #email {
    cursor: auto;
}

header > #contatos > #email:hover {
    filter: none;
}

header > #contatos > #email > abbr > .copy {
    margin-left: -20px;
    margin-right: 20px;
    padding: 20px;
    border-right: 1px solid var(--borda1);
    cursor: pointer;
    background-color: white;
    transition: all .4s;
}

.icon {
    margin-left: -20px;
    margin-right: 20px;
    padding: 20px;
    border-right: 1px solid var(--borda1);
}

header > #contatos > #email > abbr > .copy:hover, header > #contatos > .contato:hover {
    filter: brightness(80%);
}

.curriculo {
    color: black;
    text-decoration: none;
    border: 2px solid var(--space_cadet);
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange_peel);
    transition: all .4s;
}

.curriculo:hover {
    filter: brightness(80%);
}

main {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

main > section#about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--alice_blue);
}

main > section#about > p.apresentacao, main > section#about > p.apresentacao > span {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

main > section#about > #tecnologias {
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

main > section#about > #tecnologias > .tecnologia {
    width: 60px;
    height: 60px;
}

main > section#about > #tecnologias > .tecnologia > abbr > img {
    width: 100%;
    height: 100%;
}

main > section#projects {
    width: 100%;
    padding: 80px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main > section#projects > h3 {
    font-size: 2rem;
}

main > section#projects > div.projeto-l, main > section#projects > div.projeto-r {
    width: 94%;
    border: 1px solid var(--borda1);
    border-radius: 12px;
    display: flex;
    cursor: pointer;
}

main > section#projects > div.projeto-r {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 6%;
}

main > section#projects > div.projeto-l > div.img, main > section#projects > div.projeto-r > div.img {
    min-width: 50%;
}

main > section#projects > div.projeto-l > div.img > img {
    width: 100%;
    border-radius: 20px 0 0 4px;
}

main > section#projects > div.projeto-r > div.img > img {
    width: 100%;
    border-radius: 0 20px 4px 0;
}

main > section#projects > div.projeto-l > div.desc, main > section#projects > div.projeto-r > div.desc {
    min-width: 50%;
    padding: 12px 8px 12px 24px;
    position: relative;
}

main > section#projects > div.projeto-r > div.desc {
    text-align: left;
}

main > section#projects > div.projeto-l > div.desc > h4.titulo, main > section#projects > div.projeto-r > div.desc {
    margin-bottom: 12px;
}

main > section#projects > div.projeto-l > div.desc > ul > li, main > section#projects > div.projeto-r > div.desc > ul > li {
    font-family: Arial, Helvetica, sans-serif;
}

main > section#projects > div.projeto-l > div.desc > div.tecs, main > section#projects > div.projeto-r > div.desc > div.tecs {
    margin-top: 12px;
}

main > section#projects > div.projeto-l > div.desc > div.tecs > div.tags, main > section#projects > div.projeto-r > div.desc > div.tecs > div.tags {
    display: flex;
    gap: 8px;
    margin: 8px 0 ;
}

div.tec {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 6px;
    border-radius: 12px;
}

main > section#projects > div.projeto-l > div.desc > p.click, main > section#projects > div.projeto-r > div.desc > p.click {
    position: absolute;
    bottom: 12px;
    left: 24px;
}