@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

:root {
    --cerulean: #007EA7;
    --orange_peel: #FF9F1C;
    --space_cadet: #151E3F;
    --baby_powder: #FDFFFC;
    --alice_blue: #F4FAFF;
    --borda1: #2b2b2b9f;
    --sombra1: #33333342;
}

html {
    width: 100vw;
    min-width: 100%;
    max-width: min-content;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#desk {
    max-width: 800px;
    max-height: 600px;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 8px 10px #8b8b8b6b;
}

#desk > .head {
    height: 40px;
    background-color: #464646;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

#desk > .content {
    height: calc(100% - 40px);
    border: 2px solid #6e6e6ea6;
    border-radius: 0 0 8px 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#desk > .content > h1 {
    font-size: 2.5rem;
}

#desk > .content > h1 > span {
    color: #FF9F1C;
}

#desk > .content > h2 {
    color: #6e6e6e;
    font-size: 1.3rem;
}

#desk > .content > #links {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

#desk > .content > #links > .link {
    cursor: pointer;
    font-size: 1.2rem;
    text-shadow: 0 5px 5px #686868;
    transition: .4s all ease-in-out;
}

#desk > .content > #links > .link:hover {
    font-size: 1.3rem;
}

footer {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
}

section {
    display: none;
    min-width: 400px;
    max-height: 600px;
    height: 80%;
    border: 1px solid #6e6e6ea6;
    background-color: white;
    position: fixed;
    border-radius: 8px;
}

section > .head {
    height: 40px;
    width: 100%;
    background-color: #464646;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
}

section > .head > .close_window {
    cursor: pointer;
    transition: .4s;
}

section > .head > .close_window:hover {
    font-size: 1.1rem;
}

section#about {
    top: 5%;
    left: 5%;
    width: 75%;
    max-width: 700px;
}

section#projects {
    top: 12%;
    left: 10%;
}

section#softskills {
    top: 5%;
    left: 65%;
}

section#contact {
    top: 12%;
    left: 60%;
}